# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# iOS/Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
.xcode.env.local

# Bundle artifacts
*.jsbundle

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
temp/
.pnp
.pnp.js

# Development
.expo/
.expo-shared/
.vscode/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# Environment & Secrets
.env
.env.*
!.env.example
ios/GoogleService-Info.plist
android/app/google-services.json

# Debug & Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
.aider*
.repomix*
repomix*

# Testing
coverage/
__tests__/coverage/

# iOS
ios/build/
ios/Pods/
ios/carevantage/Images.xcassets/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
.xcode.env.local

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/app/src/main/res/*
.idea
*.iml
*.hprof
.cxx/

# Bundle & Build
build/
dist/
*.jsbundle
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store
*.pem

# Project Specific
src/**/*.txt

.env
