<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071113185455-1gn2nit1avtmap9u7tatum2v55f0g49j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071113185455-1gn2nit1avtmap9u7tatum2v55f0g49j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1071113185455-vq2paff5ksnungccta2bbmvp0ml5vlg7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXEXjEiVFb8cCZeREdem0B-Lv8zLsTGks</string>
	<key>GCM_SENDER_ID</key>
	<string>1071113185455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.groebe1kenobi.carevantage</string>
	<key>PROJECT_ID</key>
	<string>cv-mvp-a4a75</string>
	<key>STORAGE_BUCKET</key>
	<string>cv-mvp-a4a75.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071113185455:ios:e0c141a067be34fabbcc5a</string>
</dict>
</plist>
